<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81137977101-6b7524j3o213ujpci8oiq12bo6sri4lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81137977101-6b7524j3o213ujpci8oiq12bo6sri4lj</string>
	<key>API_KEY</key>
	<string>AIzaSyCHxRckMMb7YDGqigbUSjIccUpoz_ugYBM</string>
	<key>GCM_SENDER_ID</key>
	<string>81137977101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thisan.lojavirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-6c256</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-6c256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81137977101:ios:fbb5d86e665c5d23115244</string>
	<key>DATABASE_URL</key>
	<string>https://loja-virtual-6c256.firebaseio.com</string>
</dict>
</plist>